<div class="container">
  <div *ngFor="let item of argumentList; let i = index;">
    <input #inp (input)="setArgumentName(inp.value, i, 'input')" [value]="item.name" type="text"
      placeholder="Enter argument name">
    <select #sel (change)="setArgumentName(sel.value, i, 'select')" [value]="item.value" name="" id="">
      <option [value]="true">true</option>
      <option [value]="false">false</option>
    </select>
  </div>
  <button (click)="addArgument()" type="button">+ add arg</button>

  <div>
    <div *ngFor="let item of list; let i = index;">
      <select #sel (click)="changeList(i, sel.value)" name="" id="">
        <option [value]="0">select...</option>
        <option *ngFor="let action of item.actionList" [value]="action.value">
          <span>{{action.name}}</span>
        </option>
      </select>
      <button *ngIf="list.length < 2" (click)="clearActionList(i)" type="button">x</button>
      <button *ngIf="i > 0" (click)="clearActionList(i)" type="button">x</button>
    </div>
    <button *ngIf="list.length > 2" (click)="appOperator()" type="button">add op</button>
  </div>

  <div>
    result: <span *ngIf="result == 'true' || result == 'false'">{{result}}</span>
  </div>
</div>